<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>fb1211534814282733</string>
			</array>
		</dict>
	</array>
	<key>FacebookAppID</key>
	<string>1211534814282733</string>
	<key>FacebookClientToken</key>
	<string>456da12ae7ac6ab72d7d3854a0f00425</string>
	<key>FacebookDisplayName</key>
	<string>BodyArtApp</string>
	<key>LSApplicationQueriesSchemes</key>
	<array>
		<string>fbapi</string>
		<string>fb-messenger-share-api</string>
	</array>
</dict>
</plist>
