<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>com.googleusercontent</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<!-- Remplace par ton REVERSED_CLIENT_ID depuis GoogleService-Info.plist -->
				<!-- Format : com.googleusercontent.apps.597314853057-xxxxxxxxx -->
				<string>com.googleusercontent.apps.597314853057-htc10p8m7vad6ltmm60p31b0ke2mtf4m</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>com.facebook</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>fb1211534814282733</string>
			</array>
		</dict>
	</array>
	
	<!-- Facebook Configuration -->
	<key>FacebookAppID</key>
	<string>1211534814282733</string>
	<key>FacebookDisplayName</key>
	<string>BodyArtApp</string>
	<key>FacebookClientToken</key>
	<string>456da12ae7ac6ab72d7d3854a0f00425</string>
	
	<!-- Permissions optionnelles mais utiles -->
	<key>LSApplicationQueriesSchemes</key>
	<array>
		<string>fbapi</string>
		<string>fb-messenger-share-api</string>
		<string>fbauth2</string>
		<string>fbshareextension</string>
	</array>
</dict>
</plist>
